# Stores my disc token and other file paths
tokenStorage.py

# Blacklisted people on a server are stored here
blacklist.txt

# Message history of the server
message_history.txt

# Watch file for automatic restarting
WatchBot.py

# Extras
extras.py
music_cog.py
config.txt

fnaf/